/UnityGameServer/Library
/UnityGameServer/Logs
/UnityGameServer/Packages
/UnityGameServer/ProjectSettings
/UnityGameServer/Temp
/UnityGameServer/UserSettings

/GameClient/Library
/GameClient/Logs
/GameClient/Packages
/GameClient/ProjectSettings
/GameClient/Temp
/GameClient/UserSettings

